import the Dependencies

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

Data collection and pre_Processing

In [ ]:
#Loading data from csv file to a pandas Dataframe
raw_mail_data = pd.read_csv('/content/mail_data.csv')

In [ ]:
print(raw_mail_data)

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will Ã¼ b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [ ]:
#replace the null values with null string
mail_data=raw_mail_data.where((pd.notnull(raw_mail_data)),'')

In [ ]:
#printing first fiver rows of dataframe
raw_mail_data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [ ]:
#number of rows and columns
raw_mail_data.shape

(5572, 2)

Label Encoding

In [ ]:
#Label spam mail as 0; ham mail as 1;
mail_data.loc[mail_data['Category']=='spam','Category',]=0 
mail_data.loc[mail_data['Category']=='ham','Category',]=1

Spam-->0;
Ham---.1;

In [ ]:
raw_mail_data.describe()#stastical data

       Category                 Message
count      5572                    5572
unique        2                    5157
top         ham  Sorry, I'll call later
freq       4825                      30

In [ ]:
#Separating the text data and the label
X=mail_data['Message']
Y=mail_data['Category']

In [ ]:
print(X)
print(Y)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will Ã¼ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object
0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Category, Length: 5572, dtype: object

spliting data into training data and split data

In [ ]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)

In [ ]:
print(X_train)
print(Y_train)

5426        Oh yeah! And my diet just flew out the window
4724                     HELLO PEACH! MY CAKE TASTS LUSH!
536     Good afternoon, my love! How goes that day ? I...
3488                        Change windows logoff sound..
2551    Please sen :)my kind advice :-)please come her...
                              ...
1697    Sorry man, my stash ran dry last night and I c...
422     Someone has contacted our dating service and e...
4007    IM FINE BABES AINT BEEN UP 2 MUCH THO! SAW SCA...
3474                      You getting back any time soon?
3074           Somebody should go to andros and steal ice
Name: Message, Length: 4457, dtype: object
5426    1
4724    1
536     1
3488    1
2551    1
       ..
1697    1
422     0
4007    1
3474    1
3074    1
Name: Category, Length: 4457, dtype: object

In [ ]:
print(X.shape,X_train.shape,X_test.shape)

(5572,) (4457,) (1115,)

Conert the text data into numeric data--->Feature Extraction

In [ ]:
feature_extraction=TfidfVectorizer(min_df=1,stop_words='english',lowercase='True')

In [ ]:
X_train_features=feature_extraction.fit_transform(X_train)
X_test_features=feature_extraction.transform(X_test)#not transformed

In [ ]:
#covert Y_train andY_test values as integers
Y_train=Y_train.astype('int')
Y_test=Y_test.astype('int')

In [ ]:
print(X_train_features)

  (0, 7289)	0.517250079608171
  (0, 2823)	0.517250079608171
  (0, 3764)	0.22046319970004674
  (0, 2262)	0.4931693086193514
  (0, 7438)	0.2996693624522655
  (0, 4768)	0.28858793133473676
  (1, 4136)	0.4717788963273522
  (1, 6517)	0.49481520325330863
  (1, 1558)	0.4236400720998954
  (1, 4972)	0.49481520325330863
  (1, 3317)	0.32904344933475643
  (2, 5798)	0.2821824162510531
  (2, 3835)	0.2623708342584191
  (2, 4943)	0.33789703751914013
  (2, 5837)	0.1845655907506494
  (2, 1430)	0.28509060215711635
  (2, 6641)	0.20096909705626312
  (2, 3722)	0.24768901862403342
  (2, 3935)	0.3671145612703168
  (2, 3118)	0.18009671431232455
  (2, 4269)	0.2543939099135892
  (2, 3398)	0.20665621299033204
  (2, 2136)	0.180851695270251
  (2, 3086)	0.27449720225122765
  (2, 4099)	0.186263215205624
  :	:
  (4454, 5765)	0.27366476899994313
  (4454, 4205)	0.27366476899994313
  (4454, 6404)	0.2834859847167938
  (4454, 387)	0.2598225428978842
  (4454, 865)	0.26604684225670366
  (4454, 2972)	0.2598225428978842
  (4454, 6656)	0.22854117433573515
  (4454, 5362)	0.20976307084423884
  (4454, 2788)	0.1933908630347447
  (4454, 4477)	0.226337885362124
  (4454, 7449)	0.2545599727746228
  (4454, 6793)	0.2084746488748568
  (4454, 7413)	0.2242682135068801
  (4454, 1150)	0.2598225428978842
  (4454, 5753)	0.226337885362124
  (4454, 7163)	0.15016127837290247
  (4454, 3514)	0.17954863693268575
  (4454, 841)	0.21705430485365426
  (4455, 3045)	0.6369939076061825
  (4455, 6132)	0.6072176947981238
  (4455, 6694)	0.4748951808522163
  (4456, 6279)	0.5478925290776959
  (4456, 935)	0.5478925290776959
  (4456, 6115)	0.4406487953685031
  (4456, 3484)	0.45327275707015463

TRaining the model
LogisticRegression

In [ ]:
model=LogisticRegression()

In [ ]:
#training the Logistic Regression model with the training data
model.fit(X_train_features, Y_train)

LogisticRegression()

Evaluate the train model

In [ ]:
#prediction on training data
prediction_on_training_data=model.predict(X_train_features)
accuracy_on_training_data=accuracy_score(Y_train, prediction_on_training_data)
print("accuracy on training data : ", accuracy_on_training_data)

accuracy on training data :  0.9672425398249944

In [ ]:
#prediction on test data
prediction_on_test_data=model.predict(X_train_features)
accuracy_on_test_data=accuracy_score(Y_train, prediction_on_test_data)
print("accuracy on test data : ", accuracy_on_test_data)

accuracy on test data :  0.9672425398249944

Making prediction system

In [ ]:
input_mail =["Nah I don't think he goes to usf, he lives around here though"]
input_data_features=feature_extraction.transform(input_mail)

prediction= model.predict(input_data_features)
print(prediction)
if(prediction[0]==1):
  print('The mail is ham')
else:
    print('The object is a spam')

[1]
The mail is ham